/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
//TermChoiceControlのスタイリング
.block-editor-block-inspector{
	.tax_section{
		margin: 10px 0 20px;
	}
	.term_section{
		margin-top: 20px;
		&:nth-child(2) {
			margin-top: 10px;
		}
	}
	.tax_label{
		padding: 2px 0;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	.term_check{
		margin-bottom: 5px;
	}
}
